---
layout: default
---

{% include header.html %}

<div class="intro">
    <h1>Pythia</h1>
    <p>
      As you might have read from the description, it's an operating system. It is right from the boot sector code to the kernel, that means it practically has no dependencies (at least till now). It is at a pretty basic stage but still it has a few things like drivers (clock, VGA, and keyboard) and a dummy shell(that does nothing :P ).
    </p>

    <h1>Mission</h1>
    <p>
      On this site I shall maintain how I developed this and the resources I refered to in the process (I shall write about them very soon).
    </p>
</div>


{% if site.posts.length %}
<div class="entries">
    <h1>My Entries:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
