<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% if page.title %}
        <title>{{ page.title }}</title>
    {% else %}
        <title>{{ site.name }}</title>
    {% endif %}

    <meta name="description" content="{{ site.description }}">

    {% if site.google_verification %}
        <meta name="google-site-verification" content="{{ site.google_verify }}">
    {% endif %}

    <link rel="icon" href="{{ site.baseurl }}/assets/img/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">
		<!-- Piwik -->
		<script type="text/javascript">
			var _paq = _paq || [];
			_paq.push(["setDomains", ["*.asutoshpalai.github.io/pythia","*.asutoshpalai.github.io/pythia"]]);
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u="//weba-asutoshpalai.rhcloud.com/";
				_paq.push(['setTrackerUrl', u+'p.php']);
				_paq.push(['setSiteId', 2]);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'p.js'; s.parentNode.insertBefore(g,s);
			})();
		</script>
		<noscript><p><img src="//weba-asutoshpalai.rhcloud.com/p.php?idsite=2" style="border:0;" alt="" /></p></noscript>
		<!-- End Piwik Code -->

</head>

<body>

    <div class="wrapper">
        {{ content }}
    </div>

</body>

</html>
